<section class="">
    
    <div class="wrap wrap-space">
        <h2 class="nice-title"><span>{{ module.vars.title }} <i class="icon-{{ module.vars.icon }}"></i></span></h2>
        <div class="text text-content">{{ module.vars.content|raw }}</div>
    </div>
</section>